@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-default transparent navbar-static-top" role="navigation" id="navbar-main">
    <div class="container">
        @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="fa fa-chevron-down"></span> <b>Menu</b>
            </button>
            <a class="navbar-brand" href="#">Your Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>*@
    </div>
</nav>


<div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active slide1">
            <img class="img-responsive img-full" alt="">
        </div>
        <div class="item slide2">
            <img class="img-responsive img-full"  alt="">
        </div>
        <div class="item slide3">
            <img class="img-responsive img-full"  alt="">
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

@*<!--end nav bar-->
<!--begin bg-carousel-->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    </div>
</div><!-- .carousel -->
<!--end bg-carousel-->*@

<div class="row">
    <div class="col-md-4">
        <p >
            <a class="muffin-category" href="@Url.Action("Category", "Home", new {id = 1}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="cookie-category" href="@Url.Action("Category", "Home", new {id = 2}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="cake-category" href="@Url.Action("Category", "Home", new {id = 3}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="shake-category" href="@Url.Action("Category", "Home", new {id = 4}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="dinner-category" href="@Url.Action("Category", "Home", new {id = 5}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="pancake-category" href="@Url.Action("Category", "Home", new {id = 6}, null)"></a>
        </p>
    </div>
</div>