@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p >
            <a class="muffin-category" href="@Url.Action("Category", "Home", new {id = 1}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="cookie-category" href="@Url.Action("Category", "Home", new {id = 2}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="cake-category" href="@Url.Action("Category", "Home", new {id = 3}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="shake-category" href="@Url.Action("Category", "Home", new {id = 4}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="dinner-category" href="@Url.Action("Category", "Home", new {id = 5}, null)"></a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="pancake-category" href="@Url.Action("Category", "Home", new {id = 6}, null)"></a>
        </p>
    </div>
</div>