@{
    ViewBag.Title = "Home Page";
}



<div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active slide1">
            <img class="img-responsive img-full" alt="">
        </div>
        <div class="item slide2">
            <img class="img-responsive img-full" alt="">
        </div>
        <div class="item slide3">
            <img class="img-responsive img-full" alt="">
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("Category", "Home", new {id = 7}, null)">
            <div class="muffin-category">
                <img class="img-responsive img-full" alt="">
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Recommendation", "Home", null, null)">
            <div class="cookie-category">
                <img class="img-responsive img-full" alt="">
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("FoodPairing", "Home", null, null)">
            <div class="cake-category">
                <img class="img-responsive img-full" alt="">
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a  href="@Url.Action("Category", "Home", new {id = 4}, null)">
            <div class="shake-category">
                <img class="img-responsive img-full" alt="">
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Category", "Home", new {id = 5}, null)">
            <div class="dinner-category">
                <img class="img-responsive img-full" alt="">
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Category", "Home", new {id = 6}, null)">
            <div class="pancake-category">
                <img class="img-responsive img-full" alt="">
            </div>
        </a>
    </div>
</div>

