@model BlondsCooking.Models.RecipeRateViewModel

@{
    ViewBag.Title = "Recipe";
    var imagePath = @Model.Image;
}


<div ng-app="RecipeModule">
    <div class="col-md-4">
        <img class="img-recipe" src="@Url.Content(Model.Image)" alt="Image"/>
        @if (Request.IsAuthenticated)
        {
            <div ng-controller="RecipeController">
                <input id="recipeId" type="hidden" value="@Model.Id" />
                <input id="rateValue" type="hidden" value="@Model.Rate" />
                <div ng-show="recipeRated" class="rate-recipe">
                    Your rate: {{rateValue}}
                </div>
                <div ng-hide="recipeRated">
                    <div class="col-md-10">
                        <div class="rate-info-recipe">Jak bardzo Ci smakowało?</div>
                        <p ng-show="validationError">Hey, you forgot about something..</p>
                        <span>
                            <select class="form-control" name="rateSelect" ng-model="rateValue" ng-options="r for r in rates"></select>
                            <input type="submit" value="Oceń" class="btn btn-default" ng-click="rateRecipe(rateValue)" />    
                        </span>                       
                    </div>
                </div>

            </div>
        }
    </div>
    <div class="col-md-8">
        <div class="title-recipe">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            @Html.DisplayFor(model => model.Ingredients)
        </div>
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

</div>


@section scripts
{
    <script src="~/Modules/RecipeClient.js"></script>
}

